<main>
    <section>
        <h1>Buscador de Cocteles</h1>
        <input type="text">
        <button class="js_btn_search">Buscar</button>
        <button class="js_btn_reset">Reset</button>
        <ul class="js_coctails_List"></ul>
    </section>
    <section>
        <h2>Favoritos</h2>
        <ul class="js_favorite_List">
            <!-- <li>
                        <div>
                            <h1></h1>
                            <img src="" alt="drink picture">
                        </div>
                    </li>-->
        </ul>
    </section>
</main>