// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;

// media queries
$tablet: 768px;
$desktop: 1024px;


//dom scss classes
.resize {
  width: 70px;
  height: 70px;
}

.selected {
  background-color: black;
  color: whitesmoke;
}

.delete {
  width: 20px;
  height: 20px;
  background-color:whitesmoke;
  background-image: url(../images/delete.png);
  background-size: cover;
  background-color: lightgray;
    margin-top: 5px;
}
// div de los favoritos cuando se crean
.favorite .divCoctail {
  display: flex;
  flex-direction: column;
  align-items: center;
 font-size: 0.6rem;
 text-align: center;


}

.favorite .divCoctail img {
    width: 60px;
      height: 60px;
      box-shadow: 0px 0px 4px 10px rgba(0, 0, 0, 0.58);
    }
    
    @media screen and (min-width:$tablet) {
      .favorite .divCoctail img {
        width: 70px;
        height: 70px;
      }
    }
// div de los regulares cuando se crean
.main__section__regular__list .divCoctail {
  width: 150px;
  height: 120px;
    padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  text-align: center;
}

img.resize {
  padding-bottom: 5px;
}