// fonts
$font-main: "Roboto", sans-serif;

// colors
$color-bg: black;
$color-secondary: lightgray;

// media queries
$tablet: 768px;
$desktop: 1024px;

//dom scss classes
.resize {
  width: 70px;
  height: 70px;
}

.selected {
  background-color: $color-bg;
  color: whitesmoke;
}

.delete {
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  background-image: url(../images/delete.png);
  background-size: cover;
  background-color: $color-secondary;
  margin-top: 5px;
}
// div favorites as render
.favorite .divCoctail {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.6rem;
    text-align: center;
}

.favorite .divCoctail img {
  width: 60px;
    height: 60px;
    box-shadow: 0px 0px 4px 10px rgba(0, 0, 0, 0.58);
  }
@media screen and (min-width: $tablet) {
  .favorite .divCoctail img {
    width: 70px;
    height: 70px;
  }
}
// div regular as render
.main__section__regular__list .divCoctail {
  width: 150px;
  height: 120px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $color-bg;
  text-align: center;
  gap: 5px;
}
