
    .main {
        background-color: lightgray;
       
        
    &__section {
        display: flex;
        justify-content: space-between;
        gap: 15px;
         @media screen and (min-width:$tablet) {
            padding-top: 20px;
         }

        &__fav{
            width: 40%;
            padding: 10px;

            &__h2{
                font-size: 1.5rem;
                font-family: $font-main;
                margin-bottom: 20px;
                text-align: center;
                font-weight: bold;
            }

            &__list {
                display: flex;
                flex-direction: row;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: center;
            
            }
        }

        &__regular {
            width: 60%;
            padding: 10px;

            &__h2 {
                font-size: 1.5rem;
                font-family: $font-main;
                text-align: center;
                margin-bottom: 20px;
                font-weight: bold;
            }

            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: nowrap;
                gap: 10px;
             
                @media screen and (min-width:$tablet) {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
             }
            }
        }
    }

}


